body {
    font-family: "Roboto Thin";
    background-color: #4E4D4D;
    max-width: 80%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.modentry {
    background-color: #2E2D2D;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-grow: 3;
}

.modimgleft {
    width: 55%;
    height: 55%;
    float: left;
    margin-right: 20px;
    object-fit: contain;

}

.modentryTextLeft {
    display: block;
    text-align: justify;
}

.modentryTextLeft h3 {
    font-size: 24px;
    margin-top: 0;
}

.modentryTextLeft p {
    font-family: "Roboto Light"
}

.modentryTextLeft a {
    color: #fff;
    font-family: "Roboto Light";
}

.modimgright {
    width: 55%;
    height: 55%;
    float: right;
    margin-left: 20px;
    object-fit: contain;

}

.modentryTextRight {
    display: block;
    text-align: justify;
    flex-grow: 3;
}

.modentryTextRight h3 {
    font-size: 24px;
    margin-top: 0;
}

.modentryTextRight p {
    font-family: "Roboto Light"
}

.modentryTextRight a {
    color: #fff;
    font-family: "Roboto Light";
}
