body {
  background-color: #222;
  color: #ccc;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: monospace;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
  header {
    max-width: 100% !important;
  }
  main {
    width: 93% !important;
  }
}

header {
  max-width: 15%;
  /* background-color: #2A2A2A; */
  /* box-shadow: #000 3px 3px 5px; */
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

main {
  width: 60%;
  background-color: #2a2a2a;
  box-shadow: #000 3px 3px 5px;
  padding: 16px;
  max-width: 60rem;
}

a {
  color: #ccc;
}

a:visited {
  color: #aaa;
}

header > a:visited {
  color: #ccc;
}

h1.branding {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px black;
}

h1,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 24px;
}

hr {
  margin-bottom: 10px;
  border-color: #777;
  width: 100%;
}

.indexlink > a {
  text-decoration: none;
  border-bottom: 1px solid #777;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  color: #fff;
}

img {
  width: stretch;
  height: auto;
  border: solid 2px #ccc;
  padding: 5px;
}

pre {
  background-color: #202020;
  border: inset 2px;
  padding: 5px;
}

p > code {
  background-color: #202020;
  padding-left: 3px;
  padding-right: 3px;
}
