body {
  background-color: #222;
  color: #ccc;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: monospace;
  max-width: 1024px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

body > hr {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
header > h1 {
  margin-right: auto;
}
header > a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
footer > p {
  white-space: nowrap;
  text-align: center;
}

main {
  margin-top: 8px;
  background-color: #2a2a2a;
  box-shadow: #000 3px 3px 5px;
  padding: 16px;
}

a {
  color: #ccc;
}

a:visited {
  color: #aaa;
}

header > a:visited {
  color: #ccc;
}

h1.branding {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px black;
}

h1,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 24px;
}

hr {
  margin-bottom: 10px;
  border-color: #777;
  width: 100%;
}

.indexlink {
  margin-bottom: 6px;
}

.indexlink > a {
  text-decoration: none;
  border-bottom: 1px solid #777;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: solid 2px #ccc;
  padding: 5px;
  box-sizing: border-box;
}

pre {
  background-color: #202020;
  border: inset 2px;
  padding: 5px;
}

p > code {
  background-color: #202020;
  padding-left: 3px;
  padding-right: 3px;
}

.image-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}
.image-row > img {
  width: 0;
  flex: 1;
  min-width: 0;
  height: auto;
}
