<!DOCTYPE html>
<html lang="et">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body>
    {% include 'extra/snow.html' %}
    {% include 'header.html' %}
    {% block body %}
    {% endblock %}
    {% include 'footer.html' %}
</body>

</html>