* {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(230, 230, 230);
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../img/bg_2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Application {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.Logo img {
    width: 256px;
    height: 128px;
}

.UserInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    margin-bottom: 0.6rem;
    border-radius: 10px;
}

.UserInput {
    display: flex;
}

.inputWrapper {
    display: flex;
    background-color: rgba(230, 230, 230, 0.05);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 5px;
    margin: 0.4rem;
    width: 90%;
}

.UserInput label {
    width: 120px;
    text-align: right;
    margin-right: 0.6rem;
}

.UserInput input {
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    border: none;
    outline: none;
    width: 70%;
}

.UserInput input:hover,
.UserInput input:focus {
    outline: none;
}

.CalculationForm {
    width: 400px;
    text-align: center;
    margin-bottom: 0.6rem;
    background-color: rgba(230, 230, 230, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.variable {
    padding: 10px;
}

.variable label {
    text-align: right;
    display: inline-block;
    margin-right: 0.4rem;
    width: 198px;
}

.variable span {
    text-align: left;
}

.Info {
    height: auto;
    width: 400px;
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.Info p {
    text-align: center;
    margin: 0.6rem;
}

.button {
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    margin: 0.4rem;
}

.button a {
    text-decoration: none;
}

.button:hover {
    background-color: rgba(230, 230, 230, 0.25);
}

@media (max-width: 912px) {
    .Logo {
        margin-bottom: 0.4rem;
    }
    .Logo img {
        width: 256px;
        height: 128px;
    }

    .UserInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 140px;
        width: 600px;
        margin-bottom: 0.6rem;
        border-radius: 5px;
    }

    .UserInput input {
        width: 80%;
    }

    .CalculationForm {
        width: 600px;
        text-align: center;
        margin-bottom: 0.2rem;
        border-radius: 5px;
    }

    .Info {
        height: 100px;
        width: 600px;
        border-radius: 10px;
    }
}

@media (max-width: 412px) {
    .Logo {
        margin-bottom: 0.4rem;
    }
    .Logo img {
        width: 256px;
        height: 128px;
    }

    .UserInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: auto;
        margin-bottom: 0.6rem;
        border-radius: 5px;
    }

    .variable {
        padding: 5px;
    }

    .UserInput input {
        width: 55%;
    }

    .CalculationForm {
        width: 300px;
        text-align: center;
        margin-bottom: 0.2rem;
        border-radius: 5px;
    }

    .Info {
        height: 100px;
        width: 300px;
        border-radius: 10px;
    }
}

@media (max-width: 390px) {
    .Logo {
        margin-bottom: 0.4rem;
    }
    .Logo img {
        width: 256px;
        height: 128px;
    }

    .UserInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-bottom: 0.6rem;
        border-radius: 5px;
    }

    .variable {
        padding: 5px;
    }

    .UserInput input {
        width: 55%;
    }

    .CalculationForm {
        width: 300px;
        text-align: center;
        margin-bottom: 0.2rem;
        border-radius: 5px;
    }

    .Info {
        height: 100px;
        width: 300px;
        border-radius: 10px;
    }
}

@media (max-width: 353px) {
    .Logo {
        margin-bottom: 0.4rem;
    }
    .Logo img {
        width: 256px;
        height: 128px;
    }

    .UserInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-bottom: 0.6rem;
        border-radius: 5px;
    }

    .variable {
        padding: 5px;
    }

    .CalculationForm {
        width: 300px;
        text-align: center;
        margin-bottom: 0.2rem;
        border-radius: 5px;
    }

    .Info {
        height: 100px;
        width: 300px;
        border-radius: 10px;
    }
}

@media (max-width: 320px) {
    .Logo {
        margin-bottom: 0.8rem;
    }
    .Logo img {
        width: 192px;
        height: 96px;
    }

    .UserInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-bottom: 0.6rem;
        border-radius: 5px;
    }

    .variable {
        padding: 5px;
    }

    .CalculationForm {
        width: 300px;
        text-align: center;
        margin-bottom: 0.2rem;
        border-radius: 5px;
    }

    .Info {
        height: 100px;
        width: 300px;
        border-radius: 10px;
    }
}
