* {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(230, 230, 230);
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../img/bg_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Application {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.Logo img {
    width: 256px;
    height: 128px;
}

.UserInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    height: 15.5rem;
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0.6rem;
}

.inputWrapper {
    display: flex;
    background-color: rgba(230, 230, 230, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 92%;
    padding: 0.6rem;
    margin: 0.2rem;
}

.UserInput label {
    width: 120px;
    text-align: right;
    margin-right: 0.6rem;
}

.UserInput input {
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    border: none;
    outline: none;
    width: 70%;
}

.UserInput input:hover,
.UserInput input:focus {
    outline: none;
}

.CalculationForm {
    position: relative;
    background-color: rgba(230, 230, 230, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 26.5rem;
    margin-bottom: 0.6em;
}

.variable {
    padding: 10px;
    width: 18rem;
    padding-left: 3rem; 
}

.variable label {
    position: relative;
    display: inline-block;
    text-align: right;
    width: 14rem;
}

.Info {
    height: auto;
    width: 26.5rem;
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.Info p {
    text-align: center;
    margin: 0.6rem;
}

.button {
    background-color: rgba(230, 230, 230, 0.15);
    backdrop-filter: blur(10px);
    padding: 0.4rem;
    margin: 0.8rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.button a {
    text-decoration: none;
}

.button:hover {
    background-color: rgba(230, 230, 230, 0.25);
}